.app-header[data-v-6f9685] {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 64px;
  background-color: #fff;
  overflow: hidden;
  color: #fff;
}
p[data-v-6f9685] {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.logo img[data-v-6f9685] {
  font-size: 24px;
  float: left;
  width: auto;
  height: 73px;
}
.any img[data-v-6f9685] {
  font-size: 24px;
  margin-left: -5px;
  margin-top: -5px;
  width: 30px;
  height: 30px;
}
ul[data-v-6f9685] {
  float: left;
  width: calc(100%-200%);
}
ul li[data-v-6f9685] {
    padding: 20px;
    display: inline-block;
}
ul li a[data-v-6f9685] {
      color: #fff;
      text-decoration: none;
}
.svg[data-v-6f9685] {
  width: 20px;
  height: 20px;
}
.any[data-v-6f9685] {
  content: "";
  width: 90px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.any .user[data-v-6f9685] {
  color: black;
  vertical-align: middle;
  margin-top: 20px;
}
.title[data-v-6f9685] {
  font-family: sans-serif;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: black;
  align-self: center;
  height: 20px;
  text-align: center;
}
a[data-v-6f9685] {
  text-decoration: none;
  color: black;
}
a[data-v-6f9685]:hover {
    text-decoration: underline;
}
.navbar a[data-v-6f9685] {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 8px;
  margin: 10px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a[data-v-6f9685]:hover {
  border-radius: 45%;
  background-color: #e0dbdb;
  color: #000;
  transition: 0.1s;
}
.side-nav[data-v-6f9685] {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
*[data-v-232af1] {
  padding: 0;
  margin: 0;
}
.dropdown[data-v-232af1] {
  position: relative;
  float: right;
}
.dropdown-content[data-v-232af1] {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #222;
  min-width: 320px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(76, 69, 69, 0.2);
  z-index: 1;
  font-family: "Gill Sans", sans-serif;
}
.show[data-v-232af1] {
  display: block;
}
.button[data-v-232af1] {
  cursor: help;
  outline: none;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  background-color: #666;
  border: 2px solid black;
  border-radius: 35px;
  text-decoration: none;
  padding: 5px 5px;
  color: black;
  display: inline-block;
}
.button[data-v-232af1]:hover {
    background-color: #bbb8b8;
    color: #666;
    border: 2px solid black;
}
.button img[data-v-232af1] {
  font-size: 24px;
  cursor: help;
  margin-left: -6px;
  margin-top: -6px;
  width: 22px;
  height: 22px;
}
ul[data-v-232af1] {
  list-style-type: none;
}
ul li[data-v-232af1] {
  margin: 5px;
}
ul li img[data-v-232af1] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
ul li p[data-v-232af1] {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.typecourse1[data-v-232af1] {
  width: 80px;
}
.typecourse2[data-v-232af1] {
  width: 70px;
}
*[data-v-d9667e] {
  padding: 0;
  margin: 0;
}
.app-Graph[data-v-d9667e] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.typecourse[data-v-d9667e] {
  vertical-align: middle;
  width: 100px;
  height: 21px;
}
#course[data-v-d9667e] {
  cursor: alias;
  outline: none;
  color: #fff;
  background: #666;
  padding: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-family: "Gill Sans", sans-serif;
}
#course[data-v-d9667e]:hover {
    text-shadow: 0px 0px 6px white;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}
ul {
  margin: 10px;
  /* padding: 5px; */
}
li {
  margin-left: 2px;
  padding-left: 2px;
}.element {
  font-family: sans-serif;
}
.message {
  min-width: 350px;
  position: absolute;
  color: #999;
  text-align: center;
  font-family: sans-serif;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*[data-v-0c86a4] {
  padding: 0;
  margin: 0;
}
.dropdown1[data-v-0c86a4] {
  position: relative;
  float: right;
}
.dropdown1-content[data-v-0c86a4] {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #222;
  min-width: 270px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(71, 69, 69, 0.2);
  z-index: 1;
  font-family: "Gill Sans", sans-serif;
}
.show[data-v-0c86a4] {
  display: block;
}
.button[data-v-0c86a4] {
  cursor: help;
  outline: none;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  background-color: #666;
  border: 2px solid black;
  border-radius: 35px;
  text-decoration: none;
  padding: 5px 5px;
  color: black;
  display: inline-block;
}
.button[data-v-0c86a4]:hover {
    background-color: #bbb8b8;
    color: #666;
    border: 2px solid black;
}
.button img[data-v-0c86a4] {
  font-size: 24px;
  cursor: help;
  margin-left: -6px;
  margin-top: -6px;
  width: 22px;
  height: 22px;
}
ul[data-v-0c86a4] {
  list-style-type: none;
}
ul li[data-v-0c86a4] {
  margin: 5px;
}
ul li img[data-v-0c86a4] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
ul li p[data-v-0c86a4] {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
div.tooltip[data-v-0c86a4] {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  pointer-events: none;
}
*[data-v-38f71a] {
  padding: 0;
  margin: 0;
}
.app-Db-Inspector[data-v-38f71a] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html,
body,
.graph {
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
  background-color: #222;
}
.container {
  width: 100%;
  height: calc(100% - 64px);
  position: relative;
}
.svg {
  width: 20px;
  height: 20px;
}
.gauche {
  width: 70%;
  float: left;
}

#droite {
  width: 30%;
  height: 700px;
  float: left;
  color: white;
  background-color: #444;
}

.golden {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.comp {
  overflow: hidden;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: auto;
  background-color: #424242;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.side-nav a {
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.25em;
  white-space: nowrap;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  opacity: 0.33;
  color: #777;
}

.side-nav .btn-close {
  padding: 10px 10px 10px 30px;
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 32px;
  margin-left: 50px;
}
.logo img {
  font-size: 24px;
  float: left;
  width: auto;
  height: 73px;
}
.header-nav {
  margin-top: -69px;
  width: auto;
  height: 73px;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
}
.login a {
  margin: 10px;
  vertical-align: middle;
}
.login a img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(201, 194, 194);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b4f5ab;
}.lm_root{position:relative}.lm_row>.lm_item{float:left}.lm_content{overflow:hidden;position:relative}.lm_dragging,.lm_dragging *{cursor:move !important;user-select:none}.lm_maximised{position:absolute;top:0;left:0;z-index:40}.lm_maximise_placeholder{display:none}.lm_splitter{position:relative;z-index:20}.lm_splitter:hover,.lm_splitter.lm_dragging{background:orange}.lm_splitter.lm_vertical .lm_drag_handle{width:100%;position:absolute;cursor:ns-resize}.lm_splitter.lm_horizontal{float:left;height:100%}.lm_splitter.lm_horizontal .lm_drag_handle{height:100%;position:absolute;cursor:ew-resize}.lm_header{overflow:visible;position:relative;z-index:1}.lm_header [class^=lm_]{box-sizing:content-box !important}.lm_header .lm_controls{position:absolute;right:3px}.lm_header .lm_controls>li{cursor:pointer;float:left;width:18px;height:18px;text-align:center}.lm_header ul{margin:0;padding:0;list-style-type:none}.lm_header .lm_tabs{position:absolute}.lm_header .lm_tab{cursor:pointer;float:left;height:14px;margin-top:1px;padding:0 10px 5px;padding-right:25px;position:relative}.lm_header .lm_tab i{width:2px;height:19px;position:absolute}.lm_header .lm_tab i.lm_left{top:0;left:-2px}.lm_header .lm_tab i.lm_right{top:0;right:-2px}.lm_header .lm_tab .lm_title{display:inline-block;overflow:hidden;text-overflow:ellipsis}.lm_header .lm_tab .lm_close_tab{width:14px;height:14px;position:absolute;top:0;right:0;text-align:center}.lm_stack.lm_left .lm_header,.lm_stack.lm_right .lm_header{height:100%}.lm_dragProxy.lm_left .lm_header,.lm_dragProxy.lm_right .lm_header,.lm_stack.lm_left .lm_header,.lm_stack.lm_right .lm_header{width:20px;float:left;vertical-align:top}.lm_dragProxy.lm_left .lm_header .lm_tabs,.lm_dragProxy.lm_right .lm_header .lm_tabs,.lm_stack.lm_left .lm_header .lm_tabs,.lm_stack.lm_right .lm_header .lm_tabs{transform-origin:left top;top:0;width:1000px}.lm_dragProxy.lm_left .lm_header .lm_controls,.lm_dragProxy.lm_right .lm_header .lm_controls,.lm_stack.lm_left .lm_header .lm_controls,.lm_stack.lm_right .lm_header .lm_controls{bottom:0}.lm_dragProxy.lm_left .lm_items,.lm_dragProxy.lm_right .lm_items,.lm_stack.lm_left .lm_items,.lm_stack.lm_right .lm_items{float:left}.lm_dragProxy.lm_left .lm_header .lm_tabs,.lm_stack.lm_left .lm_header .lm_tabs{transform:rotate(-90deg) scaleX(-1);left:0}.lm_dragProxy.lm_left .lm_header .lm_tabs .lm_tab,.lm_stack.lm_left .lm_header .lm_tabs .lm_tab{transform:scaleX(-1);margin-top:1px}.lm_dragProxy.lm_left .lm_header .lm_tabdropdown_list,.lm_stack.lm_left .lm_header .lm_tabdropdown_list{top:initial;right:initial;left:20px}.lm_dragProxy.lm_right .lm_content{float:left}.lm_dragProxy.lm_right .lm_header .lm_tabs,.lm_stack.lm_right .lm_header .lm_tabs{transform:rotate(90deg) scaleX(1);left:100%;margin-left:0}.lm_dragProxy.lm_right .lm_header .lm_controls,.lm_stack.lm_right .lm_header .lm_controls{left:3px}.lm_dragProxy.lm_right .lm_header .lm_tabdropdown_list,.lm_stack.lm_right .lm_header .lm_tabdropdown_list{top:initial;right:20px}.lm_dragProxy.lm_bottom .lm_header .lm_tab,.lm_stack.lm_bottom .lm_header .lm_tab{margin-top:0;border-top:none}.lm_dragProxy.lm_bottom .lm_header .lm_controls,.lm_stack.lm_bottom .lm_header .lm_controls{top:3px}.lm_dragProxy.lm_bottom .lm_header .lm_tabdropdown_list,.lm_stack.lm_bottom .lm_header .lm_tabdropdown_list{top:initial;bottom:20px}.lm_drop_tab_placeholder{float:left;width:100px;height:10px;visibility:hidden}.lm_header .lm_controls .lm_tabdropdown:before{content:'';width:0;height:0;vertical-align:middle;display:inline-block;border-top:5px dashed;border-right:5px solid transparent;border-left:5px solid transparent;color:white}.lm_header .lm_tabdropdown_list{position:absolute;top:20px;right:0;z-index:5;overflow:hidden}.lm_header .lm_tabdropdown_list .lm_tab{clear:both;padding-right:10px;margin:0}.lm_header .lm_tabdropdown_list .lm_tab .lm_title{width:100px}.lm_header .lm_tabdropdown_list .lm_close_tab{display:none !important}.lm_dragProxy{position:absolute;top:0;left:0;z-index:30}.lm_dragProxy .lm_header{background:transparent}.lm_dragProxy .lm_content{border-top:none;overflow:hidden}.lm_dropTargetIndicator{display:none;position:absolute;z-index:20}.lm_dropTargetIndicator .lm_inner{width:100%;height:100%;position:relative;top:0;left:0}.lm_transition_indicator{display:none;width:20px;height:20px;position:absolute;top:0;left:0;z-index:20}.lm_popin{width:20px;height:20px;position:absolute;bottom:0;right:0;z-index:9999}.lm_popin>*{width:100%;height:100%;position:absolute;top:0;left:0}.lm_popin>.lm_bg{z-index:10}.lm_popin>.lm_icon{z-index:20}/*# sourceMappingURL=goldenlayout-base.css.map */.lm_goldenlayout{background:#000000}.lm_content{background:#222222}.lm_dragProxy .lm_content{box-shadow:2px 2px 4px rgba(0,0,0,0.9)}.lm_dropTargetIndicator{box-shadow:inset 0 0 30px #000000;outline:1px dashed #cccccc;transition:all 200ms ease}.lm_dropTargetIndicator .lm_inner{background:#000000;opacity:.2}.lm_splitter{background:#000000;opacity:.001;transition:opacity 200ms ease}.lm_splitter:hover,.lm_splitter.lm_dragging{background:#444444;opacity:1}.lm_header{height:20px;user-select:none}.lm_header.lm_selectable{cursor:pointer}.lm_header .lm_tab{font-family:Arial,sans-serif;font-size:12px;color:#999999;background:#111111;box-shadow:2px -2px 2px rgba(0,0,0,0.3);margin-right:2px;padding-bottom:2px;padding-top:2px}.lm_header .lm_tab .lm_close_tab{width:11px;height:11px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAATElEQVR4nG3OwQ0DMQwDwZGRBtR/j1YJzMc5+IDoR+yCVO29g+pu981MFgqZmRdAfU7+CYWcbF11LwALjpBL0N0qybNx/RPU+gOeiS/+XCRwDlTgkQAAAABJRU5ErkJggg==);background-position:center center;background-repeat:no-repeat;top:4px;right:6px;opacity:.4}.lm_header .lm_tab .lm_close_tab:hover{opacity:1}.lm_header .lm_tab.lm_active{border-bottom:none;box-shadow:0 -2px 2px #000000;padding-bottom:3px}.lm_header .lm_tab.lm_active .lm_close_tab{opacity:1}.lm_dragProxy.lm_bottom .lm_header .lm_tab,.lm_stack.lm_bottom .lm_header .lm_tab{box-shadow:2px 2px 2px rgba(0,0,0,0.3)}.lm_dragProxy.lm_bottom .lm_header .lm_tab.lm_active,.lm_stack.lm_bottom .lm_header .lm_tab.lm_active{box-shadow:0 2px 2px #000000}.lm_selected .lm_header{background-color:#452500}.lm_tab:hover,.lm_tab.lm_active{background:#222222;color:#dddddd}.lm_header .lm_controls .lm_tabdropdown:before{color:#ffffff}.lm_controls>li{position:relative;background-position:center center;background-repeat:no-repeat;opacity:.4;transition:opacity 300ms ease}.lm_controls>li:hover{opacity:1}.lm_controls .lm_popout{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAPklEQVR4nI2Q0QoAIAwCNfr/X7aXCpGN8snBdgejJOzckpkxs9jR6K6T5JpU0nWl5pSXTk7qwh8SnNT+CAAWCgkKFpuSWsUAAAAASUVORK5CYII=)}.lm_controls .lm_maximise{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKElEQVR4nGP8////fwYCgImQAgYGBgYWKM2IR81/okwajIpgvsMbVgAwgQYRVakEKQAAAABJRU5ErkJggg==)}.lm_controls .lm_close{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAQUlEQVR4nHXOQQ4AMAgCQeT/f6aXpsGK3jSTuCVJAAr7iBdoAwCKd0nwfaAdHbYERw5b44+E8JoBjEYGMBq5gAYP3usUDu2IvoUAAAAASUVORK5CYII=)}.lm_maximised .lm_header{background-color:#000000}.lm_maximised .lm_controls .lm_maximise{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVR4nGP8//8/AzGAiShVI1YhCwMDA8OsWbPwBmZaWhoj0SYCAN1lBxMAX4n0AAAAAElFTkSuQmCC)}.lm_transition_indicator{background-color:#000000;border:1px dashed #555555}.lm_popin{cursor:pointer}.lm_popin .lm_bg{background:#ffffff;opacity:.3}.lm_popin .lm_icon{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);background-position:center center;background-repeat:no-repeat;border-left:1px solid #eeeeee;border-top:1px solid #eeeeee;opacity:.7}.lm_popin:hover .lm_icon{opacity:1}/*# sourceMappingURL=goldenlayout-dark-theme.css.map */

.app-Db-Inspector .tooltip {
  pointer-events: none;
}
